* {
    font-family: "Muli", sans-serif;
    background-color: #f5ffc3;
}

.welcome-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container form,
.login-container form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

#startlogo {
    width: 200px;
}

#logo {
    width: 100px;
    vertical-align: middle;
}

#logout {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.error {
    color: red;
}

a {
    text-decoration: none;
    color: #612147;
}

a:hover {
    color: #509aaf;
}

.profile-pic-container {
    display: inline;
}

.profile-container .profile-pic,
.opp-container .profile-pic {
    width: 500px;
    float: left;
    margin-right: 20px;
}

header .profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: right;
    cursor: pointer;
    border-radius: 5px;
}

.close-icon {
    width: 10px;
    cursor: pointer;
}

.uploader {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    z-index: 100;
    display: block;
    position: fixed;
    top: 150px;
    left: 280px;
}

.uploader-background {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

header {
    display: flex;
    justify-content: space-between;
}

input,
button,
textarea {
    padding: 10px;
    background: white;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #509aaf;
}
textarea {
    display: block;
    min-width: 300px;
    min-height: 100px;
}

button {
    background: #509aaf;
    cursor: pointer;
    min-width: 150px;
}

button:hover {
    background: #7dd8c7;
}

button:disabled:hover {
    background: #509aaf;
    cursor: auto;
}

.bio-container form {
    display: inline;
}
